@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.mainWrap {
  /* display: flex; */
  height: 100vh;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  width: 100%;
  /* overflow: hidden; */
}

.editorLogo img {
  width: 48px;
}

.container2 {
  display: flex;
  height: 92vh;
}

.editorWrap {
  width: 100%;
  /* position: relative; */
}

.edit-btn {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.header-edit {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  flex-shrink: 2;
  background-color: #242634;
  align-items: center;
  padding: 15px 22px;
}

.header-edit h2 {
  color: #a084dc;
  font-weight: 400;
  font-family: "orbitron";
  font-size: 26px;
}

.header-edit button {
  border-radius: 10px;
  color: #ffffff;
  background-color: #1c1c1c;
  text-align: center;
  font-size: 20px;
  padding: 6px 15px;
  padding-top: 11px;
  transition: all 0.5s;
  cursor: pointer;
  border: #1c1c1c solid 1px;
}

.clientsBtn {
  border-color: #fafafa;
  font-size: 32px;
  border-radius: 50%;
  background-color: #1c1c1c;
  cursor: pointer;
  padding: 9px 12px;
  padding-bottom: 5px;
  border: none;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 22px;
  bottom: 20px;
}

.clientsBtn:hover {
  color: white;
}

.CodeMirror {
  min-height: 92vh;
  font-size: 20px;
  line-height: 1.6;
  font-style: normal;
  padding: 0 7px;
  padding-top: 12px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: relative;
}

#h2 {
  color: white;
  font-size: 1.2rem;
}

.CodeMirror-sizer {
  font-size: 1.35rem;
  padding: 0;
}
